/* Define Variables */
:root {
    --header-height: 75px;
    --sidebar-width: 250px;

    --indent-size: 30px;

    --gray7: #F9F9F9;
    --gray6: #F2F2F2;
    --gray5: #E0E0E0;
    --gray4: #BDBDBD;
    --gray1: #333333;
    --gray1transparent: #33333310;
    --blue1: #2F80ED;
    --green2: #27AE60;
    --red1: #EB5757; 
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--blue1);
    text-decoration: none;
}

button, input[type="submit"] {
    background-color: var(--gray5);
    border: 1px solid var(--gray1);
    padding-top: 4px;
    padding-bottom: 4px;
}

#header {
    z-index: 3;
    background-color: var(--gray6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
}

#header * {
    margin: 10px;
}

#logo {
    width: var(--sidebar-width);
    margin: auto;
}

#search-form {
    flex:1;
    display: flex;
}

#search-bar {
    flex: 1;
    margin-right: 0;
    padding: 5px;
    border: 1px solid var(--gray1);
}

#search-button {
    margin-left: 0;
    padding: 0;
    border: 1px solid var(--gray1);
    border-left: none;
}

#profile-pic {
    height: 100%;
    border: 1px solid var(--gray1);
}
#profile-pic img {
    height: 100%;
    margin: 0;
}

#sidebar {
    z-index: 1;
    overflow-x: hidden;
    background-color: var(--gray6);
    border: 1px solid var(--gray5);
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    top: var(--header-height);
    width: var(--sidebar-width);
    height: calc(100% - var(--header-height));
}

#sidebar h2 {
    margin: 10px;
    left: 10%;
}

#sidebar a {
    display: block;
    margin-left: 20%;
    width: 100%;
    
    padding: 3px;

    color: black;
    text-decoration: none;
}

#content {
    z-index: 2;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    top: var(--header-height);
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - var(--header-height));
    overflow-y: auto;
}

.result-info-box {
    background-color: var(--gray6);
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.result-info-box h3 {
    margin: 0;
    margin-bottom: 10px;
}

.result-details {
    width: 100%;
    display: flex;
    justify-content: start;
}


.result-details div {
    /* flex: 2; */
    margin: 0 10px;
}

.result-details div.result-difficulty {
    margin-left: 0;
}

.selected {
    background-color: var(--gray4);
}

.positive-likes {
    color: var(--green2);
}

.negative-likes {
    color: var(--red1);
}

#content form p label, #content form p input, #content form p span, #content form p textarea {
    display: block;
    width: 100%;
}

#content form input {
    padding: 5px;
    border: 1px solid var(--gray1);
}

#content form input[type="file"] {
    border: none;
}

#content form p, #demo-image-block {
    width: 100%;
    max-width: 800px;
    padding-right: 60px;
    box-sizing: border-box;
}

h1, .error-message {
    margin: 10px;
}

#content form p, #content form input[type="submit"], #add-exercises-block {
    margin-left: var(--indent-size);
}

.helptext {
    font-size: 75%;
    color: var(--red1);
}

input[type="number"] {
    max-width: 3em;
}

#add-exercises-block {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 0;
}

#add-exercises-block b {
    display: block;
    margin-bottom: 10px;
}


#selected-exercises, #exercise-selector {
    flex: 1;
    max-width: 400px;
}

.selected-exercise-row, .exercise-selector-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.selected-exercise-row a, .exercise-selector-row a {
    flex: 1;
    margin-left: 0;
}

.selected-exercise-row * {
    margin: 0 5px;
}

#exercise-selector-list, #selected-exercise-list {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

#exercise-selector-search {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.selected-exercise-row img, .exercise-selector-row img {
    height: 1em;
}

#info-block {
    margin-left: var(--indent-size);
}

#info-block div {
    margin-bottom: 5px;
}

.details-likes {
    display: flex;
    align-items: center;
    flex-basis: 10px;
}

.details-likes img{
    height: 2em;
    margin: 5px;
}

.indented, .errorlist {
    margin-left: var(--indent-size);
    margin-right: 60px;
}

.errorlist {
    list-style: none;
    color: var(--red1);
}

#demo-image-block img {
    width: 100%;
    max-width: 800px;
}

#profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

#profile-header, #created-workouts, #created-exercises, #saved-workouts {
    padding: 10px;
}

#created-workouts .result-info-box, #created-exercises .result-info-box, #saved-workouts .result-info-box {
    margin-left: 0;
}

#create-workout-submit {
    margin-bottom: 10px;
}

#profile-header img {
    height: 80px;
    border: 1px solid var(--gray1);
}

.result-name img {
    height: 0.8em;
}

.important {
    background-color: var(--red1);
    color: white;
    display: block;
}

.clickable {
    cursor: pointer;
}

ul {
    list-style-position: inside;
    padding: 0;
}

.button-container, .button-container button {
    display: inline-block;
    cursor: pointer;
}

#registered-successfully {
    margin-left: 10px;
}

#warning-container {
    display: none;
    position: fixed;
    left: var(--sidebar-width);
    top: var(--header-height);
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - var(--header-height));
    background-color: #00000065;
}

#warning-dialogue {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 33%;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    border: 3px solid var(--gray1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#button-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

button, .delete-button {
    cursor: pointer;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
    border-color: var(--gray5);
    border-style: solid;
}
